

.container {

  // main
  padding: 10px 45px;
}
.item {

  // main
  color: white;
  background-color: #4d7298;
  border: 4px solid #77a6b6;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
}