.navigation {
  // main styles
  padding: 0;
  list-style: none;
  margin: 0; 
  background: deepskyblue;

  // solve
  display: flex;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  
  // solve
  text-align: center;
}

.navigation a:hover {
  background: #1565C0;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    // solve
    flex-direction: column;
    // main styles
    padding: 0;
  }
  .navigation a {
    // main styles
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}