// Basic styles
.wrapper {
  min-height: 100vh;
  max-width: 1400px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
  font-size: 15px;
}

.container {
  overflow: hidden;
  list-style: none;
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 5px;
  // background: rgb(34,193,195);
  // background: linear-gradient(185deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  background: rgb(231,235,235);
  background: linear-gradient(185deg, rgba(231,235,235,1) 0%, rgba(196,195,194,1) 100%);
  & li {
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    &:hover {
      // background-color: #d1e352;
      background-color: #bebebe;
    }
  }
}

// styles
.container {
  display: flex;
}

.container .item {
  flex-grow: 5;
}

.container .social {
  flex-grow: 1;
}

@media all and (max-width: 850px) {
  .container {
    flex-wrap: wrap;
  }
  .container .item {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 600px) {
  .container .item {
    flex-basis: 100%;
  }
}