// Basic styles
.wrapper {
  min-height: 100vh;
  max-width: 1400px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
  font-size: 15px;
}

.container {
  overflow: hidden;
  list-style: none;
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 5px;
  background: rgb(34,193,195);
  background: linear-gradient(185deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  & li {
    cursor: pointer;
    &:hover {
      background-color: #d1e352;
    }
  }
}

// solve
.container {
}

@media all and (max-width: 1000px) {
}

@media all and (max-width: 640px) {
}